<div class="div border-b-3 border-l-3 border-blue-400 p-3 video-internal">
   <div class="relative group">
     <video src="{{src}}" width="560" height="315" class="w-[560px] h-[315px] group-hover:cursor-pointer"></video>
     <button class="btn py-3 px-5 rounded-full bg-blue-900 absolute top-1/2 left-1/2 z-[-12] group-hover:z-[12] transition-all ease duration-400 cursor-pointer -translate-x-1/2 -translate-y-1/2"><span class="icon-play-container"></span></button>
   </div>
    <div class="video-text-wrapper"></div>
    <div class="controls-video">
        <input type="range" name="" id="" value="120" class="w-full bar-duration">
        <div class="duration"><span class="current-duration">00:00:00</span>/<span class="max-duration"></span></div>
    </div>
</div>

   <script defer>
      
   </script>