<div class="group border border-gray-300 rounded-md p-4">
	<input type="checkbox" name="" id="{{id}}" class="hidden peer" />
	<label
		for="{{id}}"
		class="text-xl font-semibold question group-hover:bg-[var(--medium)] transition-all duration-500 flex justify-between items-center cursor-pointer"
	>
		{{question}} 
        <span class="icon-container">{{icon}}</span>    
	</label>
	<p
		class="ml-4 text-gray-700 answer md:h-0 h-fit peer-checked:h-fit peer-checked:pb-2 overflow-hidden transition-all duration-500 justify-between flex items-center"
	>
        {{answer}} 
	</p>
</div>
