<div class="card group shadow-md shadow-blue-400  hover:border-1 border-blue-400 w-[25.15rem] py-4 px-3 rounded-lg flex flex-col gap-3 bg-[var(--medium)]">
        <div class="card-header flex justify-between w-full relative">
            <div class="information-status flex gap-3 items-center px-3 bg-[var(--soft)] rounded">
                <div class="icon-placeholder"></div>
                <h5>has been manipulated by some media</h5>
            </div>
            <div class="justify-">
                <img src="img/main_media/manipulated_information.jpeg" alt="" srcset="" type="web" class="w-25">
            </div>
            <div class="absolute transition-all duration-600 top-0 right-0 group-hover:top-[-2.20rem] group-hover:right-[-2.24rem]">
                <img src="img/main_media/manipulated_information.jpeg" alt="" srcset="" type="web" class="w-25">
                <div class="permata-container ">
                    
                </div>
            </div>
        </div>
        <div class="card-content">
            <div class="card-body">
            <div class="flex">
                <div class="avatar w-10 h-10 rounded-full bg-gray-300 mr-3"></div>
                <div class="flex flex-col">
                    <span class="font-bold name">name</span>
                    <span class="text-sm text-gray-500 jabatan">jabatan</span>
            </div>
            </div>
        </div>
        <div class="card-footer flex flex-col gap-3 w-full border-t-1 border-gray-300 py-3">
            <div class="flex justify-between items-center w-full">
                <div class="justify-">
                    <img src="img/main_media/klarivika.jpeg" alt="" srcset="" type="web" class="w-[4.23rem] h-[4.23rem] rounded-full">
                    <div class="flex flex-col">
                        <span class="font-bold">Klarivika</span>
                        <span class="text-sm text-gray-500">Klarivika Team</span>
                    </div>
                </div>
                <div class="save-icon">
                </div>
            </div>
        <div class="text-status">
            <div class="icon-status"></div>
            <span class="text-sm text-gray-500">
                has been Manipulated by some media for their own purpose
            </span>
            <div class="link-containers"></div>
        </div>
        <a class="w-[100%] text-white bg-[var(--dark)] hover:bg-[var(--medium)] hover:text-[var(--dark)] py-2 px-4 rounded duration-500 transition-all cursor-pointer">view article</a>
    </div>