<footer class="bg-[var(--dark)] mt-4 px-3 py-4 text-white relative mt-[12rem]">
	<div class="w-full bg-[linear-gradient(90deg,rgba(2,0,36,1)_0%,rgba(9,9,121,1)_35%,rgba(0,212,255,1)_100%)] relative px-4 py-5 top-[-3.12rem] flex flex-col md:flex-row justify-evenly gap-3">
		<div class="left [&>*:first-child]:ml-3 [&>*:first-child]:border-b-3 [&>*:first-child]:border-blue-400 [&>*:first-child]:inline-block">
			<h3 class="mb-4">how we know it fake news?</h3>
			<p class="w-[23.45rem]">watch video youtube below and u will know how to analize news!</p>
			<div class="connect">
				<h3>reach us</h3>
				<a href="https://www.youtube.com/@klarivika1" target="_blank" class="">
					<i class="bi bi-youtube text-[3rem] hover:text-rose-900 text-white duration-500 ease transition-all"></i>
				</a>
				<a href="https://www.instagram.com/klarivika/" target="_blank" class="">
					<i class="bi bi-instagram text-[3rem] hover:text-rose-900 text-white duration-500 ease transition-all"></i>
				</a>
			</div>
		</div>
		<div class="right flex gap-3 flex-col md:flex-row">
			<div class="text-wrapper [&>*:first-child]:ml-3 [&>*:first-child]:border-b-3 [&>*:first-child]:border-blue-400 [&>*:first-child]:inline-block ">
				<h3 class="mb-4">we collect</h3>
				<div class="link-wrapper">
					<ul>
						<li>information history</li>
						<li>manipulated information</li>
						<li>data about analize method that we have</li>
						<li>usefull information</li>
					</ul>
				</div>
			</div>
			<div class="text-wrapper [&>*:first-child]:ml-3 [&>*:first-child]:border-b-3 [&>*:first-child]:border-blue-400 [&>*:first-child]:inline-block">
				<h3 class="mb-4">what we do</h3>
				<div class="link-wrapper">
					<ul>
						<li>analize news</li>
						<li>publish labeled manipulated information</li>
						<li>update knowledge about tools to analize news</li>
					</ul>
				</div>
			</div>
			<div class="text-wrapper [&>*:first-child]:ml-3 [&>*:first-child]:border-b-3 [&>*:first-child]:border-blue-400 [&>*:first-child]:inline-block">
				<h3 class="mb-4">developed by</h3>
				<div class="link-wrapper">
					<a href="https://github.com/initer3737" class="flex gap-1 justify-center items-center">
						<i class="bi bi-github text-[3rem] hover:text-rose-900 text-white duration-500 ease transition-all"></i>
						initer3737
					</a>
				</div>
			</div>
		</div>
	</div>
	<div class="flex flex-col gap-3">
		<h3>usefull information</h3>
		<div class="footer-video-render [&>*]:inline-block p-2">

		</div>
	</div>
	<div class="flex flex-col items-center justify-center gap-2">
		<h5>&copy; {{year}} klarivika. All rights reserved.</h5>
	</div>
</footer>
